
<!--Link para primeira imagem do site -->
https://img.freepik.com/fotos-premium/integracao-de-energias-renovaveis-numa-paisagem-rural-com-turbinas-eolicas-e-digestores-de-biogas-conceito-energia-renovavel-turbinas-eolicos-digestores-de-biogas-paisagem-rural-sustentabilidade_918839-142376.jpg?w=996
<!--Link para segunda imagem do site -->
https://media.istockphoto.com/id/1489061272/pt/foto/crystal-earth-on-ferns-in-green-grass-forest-with-sunlight-environment-save-the-world-earth.webp?a=1&b=1&s=612x612&w=0&k=20&c=M14bVbFcHS_BxJZJam-gofB08VwsKsBHSKkEiOUffNE=
<!-- link para imagem do registro de veiculos -->
https://t3.ftcdn.net/jpg/07/47/64/36/360_F_747643621_F9SH5FMdxOwHVXfYSlN4xEGjJ3GRuDjn.jpg