
* {
    box-sizing: border-box;
}

body{
    margin: 0;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #9ad699;
    justify-content: center;
    align-items: center;
}
.Logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;

}
.logo h1{
    color: #344934;
    font-family: "Oswald", sans-serif;
}
.menu{
    flex: 70%;
    text-align: right;
    padding :20px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 26px;
}
.menu a:hover{
    color:#344934;
    border-top: 4px solid white;
}
#login_link{
    background-color: #2b502b;
    padding: 12px 25px;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%
}
#login_link:hover{
    background-color: #344934;
    color: white;
    border-top:4px solid white;
}